<div class="container col-6 my-3">
  <h1>Add a new list</h1>
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.input :image_url %>
      <%= f.submit %>
    <% end %>
</div>
