<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image_url.length > 0 ? @list.image_url : "https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" %>;">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container my-3">
  <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add a movie
        </button>
      </div>
  </div>
  <div class="row d-flex justify-content-center">
    <% @list.movies.each do |movie| %>
      <div class="col-5">
        <div class="card-trip m-3">
          <img src=<%= movie.poster_url %> />
          <div class="px-3 pt-2">
            <h2 class="d-inline"><%= movie.title %></h2> • <span><%= movie.rating %><i class="fa-solid fa-star"></i></span>
            <p><%= movie.overview %></p>
          </div>
          <div class="card-trip-footer px-3 py-2">
            <% bookmark = Bookmark.where(list: @list).where(movie: movie) %>
            <p><i class="fa-solid fa-quote-left"></i> <strong><%= bookmark[0].comment %></strong></p>
            <p><%= link_to "Delete", bookmark_path(bookmark[0]), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
          </div>
        </div>
      </div>
     <% end %>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h1>Create a bookmark</h1>
            <%= simple_form_for [@list, @bookmark] do |f| %>
              <%= f.association :movie %>
              <%= f.input :comment %>
              <div class="modal-footer">
                <%= f.submit %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @bookmark.errors.present? %>
    <script>
        $(window).load(function () {
            $('#exampleModal').modal('show');
            });
    </script>
<% end  %>
